span {
    color: #73849a;
}

.polls-container {
    width: 100%;
    height: 100%;   
}

.polls-header {
    width: 100%;
    height: 75px;
    text-align: center;

    span {
        font-size: 30px;
        padding-top: 30px;
        display: block;
    }
}

.polls-h2 {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        text-align: center;

        span {
            font-size: 22px;
        }
    }
}

.polls-overview {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 0.5% 1fr;
    margin: 0 auto;
}

.poll-split {
    width: 100%;
    height: 100%;
    background: #73849a;
    border-radius: 10px;
}

.polls-elements {
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    display: block;
    margin: 0 auto;
}